@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Developed by @ViewData["Developer"]</p>

<address>
    <strong>For more information, </strong><a href = "mailto:lair.h@hotmail.com ?subject=I saw your work, let's talk about it."> contact me. </a>

</address>
