@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Hi, my name is Lair Anderson and I developed this web site.<br />
    If you want to contact me, please write to the email adress below.<br />
    <br />
    Thank you very much, I really appreciate your time.
</address>

<address>
    <strong>Contact:</strong> <a href="mailto:lair.h@hotmail.com ?subject=I saw your work, let's talk about it.">lair.h@hotmail.com</a><br />
</address>
